8501-SFProfilesByNeighborhoodForWeb.pdf
Car_Break_Ins_Clean.csv
Car_Break_Ins_Clean_2.csv
Census_2010_Tracts.csv
Census_2010_Tracts_coords.csv
KSFO*
Map_of_Registered_Business_Locations.csv
Maps/*
Police_Department_Incidents.csv
SF_boundaries.txt
Weather_Data.csv
aff_download/*
